<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794220202378-bkb3cvq80tlsd5usrqn9nrqudij0v7im.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794220202378-bkb3cvq80tlsd5usrqn9nrqudij0v7im</string>
	<key>API_KEY</key>
	<string>AIzaSyCSDGL7I8Kj_p_6nwHJ6g5dXqgmeJaR2HI</string>
	<key>GCM_SENDER_ID</key>
	<string>794220202378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LearnersPlatform</string>
	<key>PROJECT_ID</key>
	<string>lspm-a09b0</string>
	<key>STORAGE_BUCKET</key>
	<string>lspm-a09b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794220202378:ios:af7a838af1e4880eb4e073</string>
	<key>DATABASE_URL</key>
	<string>https://lspm-a09b0.firebaseio.com</string>
</dict>
</plist>